* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
main{
    min-height: 100vh;
    background: linear-gradient(to right top, #fde3e8, #ffb7c5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main {
    min-height: 80vh;
    width: 70%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.4));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    display: flex;
    font-family: 'Press Start 2P';font-size: 20px;
}
.sidebar {
    flex: 1;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.9), rgba(255,255,255,0.6));
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.top {
    padding: 50px 10px;
    flex: 1;
}
.rest {
    flex: 5;
}
.content {
    flex: 3;
}
.link{
    padding: 10px;
    -webkit-transition: background 0.4s ease-out;
    -moz-transition: background 0.4s ease-out;
    -o-transition: background 0.4s ease-out;
    -ms-transition: background 0.4s ease-out;
    transition: background 0.4s ease-out;
}
.link:hover{
    background: rgb(255, 151, 151)
}