
/* typist.js stuff */
#hero-type {
  --ti-color: rgb(255, 144, 165);
  --ti-cursor-line-height: 1.8;
}

/* Scrollbar Stuff */

/* firefox */

html{
    scrollbar-width: normal;
    scrollbar-color: #777 #555;
}

/* other browsers */

html::-webkit-scrollbar {
    width: 0.8vw;
}
html::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
}
html::-webkit-scrollbar-track {
    background-color: #000;
    border-radius:  10px;
}


#navheadings a.nav-under {
		position:relative;
	}

#navheadings a.nav-under:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: -2;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(255, 144, 165);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#navheadings a.nav-under:hover:after { 
  width: 100%; 
  left: 0; 
}

/* If the link is for the same page, no animation */
#navheadings a.nav-under_current {
    position:relative;
}

#navheadings a.nav-under_current:after {    
background: none repeat scroll 0 0 transparent;
bottom: -2;
content: "";
display: block;
height: 2px;
left: 0;
position: absolute;
background: rgb(255, 144, 165);
width: 100%;
}


/* Sarah Fossheim's Gradient Text Overlay */

.brand-text {
  /* Fallback: Set a background color. */
  background-color: #CA4246;
  
  /* Create the gradient. */
   background-image: linear-gradient(
        60deg,
        #FF90A5 16.666%, 
        #FF90A5 16.666%, 
        #03bcff 33.333%, 
        #5b4fff 33.333%, 
        #FF90A5 50%, 
        #5b4fff 50%, 
        #03bcff 66.666%, 
        #5b4fff 66.666%, 
        #03bcff 83.333%, 
        #FF90A5 83.333%);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

}

.brand-text:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}


/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}

.shadow-md-light {
        --tw-shadow: 0 4px 6px -1px rgba(240, 240, 240, 0.1), 0 2px 4px -1px rgba(240, 240, 240, 0.06);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.pulseshadow {
    box-shadow: 0 8px 8px -2px rgba(240, 240, 240, 0.3);
    animation: pulser 4s infinite;
}
@-webkit-keyframes pulser {
  0% {
    -webkit-box-shadow: 0 8px 8px -2px rgba(240, 240, 240, 0.3);
  }
  50% {
      -webkit-box-shadow: 0 8px 8px 4px rgba(255, 209, 218, 0.5);
  }
  100% {
      -webkit-box-shadow: 0 8px 8px -2px rgba(240, 240, 240, 0.3);
  }
}
@keyframes pulser {
  0% {
    -moz-box-shadow: 0 8px 8px -2px rgba(240, 240, 240, 0.3);
    box-shadow: 0 8px 8px -2px rgba(240, 240, 240, 0.3);
  }
  50% {
      -moz-box-shadow: 0 8px 8px -2px rgba(255, 209, 218, 0.5);
      box-shadow: 0 8px 8px -2px rgba(255, 209, 218, 0.5);
  }
  100% {
      -moz-box-shadow: 0 8px 8px -2px rgba(240, 240, 240, 0.3);
      box-shadow: 0 8px 8px -2px rgba(240, 240, 240, 0.3);
  }
}